*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand-VariableFont_wght.ttf) format(truetype);
}

/* General Styles */

html {
  display: block;
  margin: 0 auto;
  width: 98vw;
  background-color: #f5f5f5;
  font-family: Quicksand, "Times New Roman", Times, serif;
  font-size: 12px;
}

h1 {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  padding: 0rem 1rem;
}

h2 {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-family: inherit;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

a {
  color: gray;
}

/* Container for individual shoes */

.article-wrap {
  background-color: white;
  padding: 0;
  margin: 0;
  min-width: 350px;
  width: 25vw;
  border-radius: 2rem;
}

/* Shoe image styling */

.shoe-image img {
  border-radius: 2rem 2rem 0 0;
}

.shoe-image {
  position: relative;
  width: 100%;
  margin: 0;
}

/* "Free shipping % Just one Left" sign on top right corner of shoe image */

.aside-blob {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
}

/* Photo caption with background gradient */

.photo-caption {
  position: absolute;
  background-image: linear-gradient(transparent, white 90%);
  color: rgba(54, 54, 54, 0.7);
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding-top: 2.5rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}

/* Gray information field wrapper */

.info-field {
  position: relative;
  background-color: #f5f5f5;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

/* Price Tag */

.price-tag {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Size & Quantity flexbox */

.size-quan-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  flex-shrink: 1;
}
.size-menu {
  font-size: 1.2rem;
  padding: 1rem 0;
}
select {
  border: 0;
  padding: 0.5rem 1.5rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

/* Color picker flexboxes with colored circles */

.color-picker-asics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.7rem;
}

.dot.blue {
  background-color: #1f55af;
}

.dot.red {
  background-color: #da4841;
}

.dot.black {
  background-color: black;
}

.dot.green-black {
  background-image: linear-gradient(90deg, #979637 50%, black 50%);
}

.dot.blue-black {
  background-image: linear-gradient(90deg, #568ad7 50%, black 50%);
}

.dot.pink-black {
  background-image: linear-gradient(90deg, #d2628b 50%, black 50%);
}

.dot.red-white {
  background-image: linear-gradient(90deg, #cd3328 50%, white 50%);
}

.dot.black-white {
  background-image: linear-gradient(90deg, black 50%, white 50%);
}

/* "Add to Cart"-button with hover effect */

.add-to-cart {
  background-color: #485fb9;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  width: 100%;
}

.add-to-cart:hover {
  background-color: #384a93;
}

/* Footer with information */

.footer-content {
  color: gray;
  margin-top: 2rem;
}

/* Printing is bad for the environement message, only visible on prints */

@media screen {
  .printit {
    display: none;
  }
}

@media screen and (min-width: 666px) {
  /* Flexbox for two articles */

  .main-flex {
    margin: 0 auto;
    width: 98vw;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  /* Container for individual shoes */

  .article-wrap {
    background-color: white;
    padding: 0;
    margin: 0;
    min-width: 300px;
    width: 30vw;
    border-radius: 2rem;
  }
  .size-quan-flex {
    display: block;
  }
}

@media screen and (min-width: 1165px) {
  /* Flexbox for three articles */

  .main-flex {
    margin: 0 auto;
    width: 98vw;
    display: flex;
    min-width: 350px;
    justify-content: center;
    gap: 2rem;
  }
  .size-quan-flex {
    display: grid;
  }
}
